<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="title">Tracking System</div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nisi magni
        impedit fuga, hic cumque omnis itaque, voluptas quibusdam facere
        voluptates iure soluta! Consectetur repellendus neque fugiat mollitia
        sit nobis eaque, a voluptas est ex perspiciatis tempora adipisci?
        Distinctio, ratione vel tempore saepe molestias excepturi modi sit
        accusantium architecto porro!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nisi magni
        impedit fuga, hic cumque omnis itaque, voluptas quibusdam facere
        voluptates iure soluta! Consectetur repellendus neque fugiat mollitia
        sit nobis eaque, a voluptas est ex perspiciatis tempora adipisci?
        Distinctio, ratione vel tempore saepe molestias excepturi modi sit
        accusantium architecto porro!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nisi magni
        impedit fuga, hic cumque omnis itaque, voluptas quibusdam facere
        voluptates iure soluta! Consectetur repellendus neque fugiat mollitia
        sit nobis eaque, a voluptas est ex perspiciatis tempora adipisci?
        Distinctio, ratione vel tempore saepe molestias excepturi modi sit
        accusantium architecto porro!
      </p>
    </div>

    <div class="counter-up">
        <div class="content">
            <div class="box">
                <div class="icon"><i class="fa fa-history">
                    <div class="counter"></div>
                    <div class="text">{{person}}</div>
                </i></div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-gift">
                    <div class="counter"></div>
                    <div class="text">{{blinkdata}}</div>
                </i></div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-users">
                    <div class="counter"></div>
                    <div class="text">{{current_time}}</div>
                </i></div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-history">
                    <div class="counter"></div>
                    <div class="text">Blinkings</div>
                </i></div>
            </div>
        </div>
    </div>
  </body>
</html>
